#left p::before {
    content: '<p>';
}

#left p::after {
    content: '</p>';
}

hgroup {
    font-family: monospace;
}

#left h1::before {
    content: '<h1>';
}

#left h1::after {
    content: '</h1>';
}

#left h1 {
    font-size: 6vw;
}

#left h2::before {
    content: '<h2>';
}

#left h2::after {
    content: '</h2>';
}

#left h2 {
    font-size: 5vw;
}

#left h3::before {
    content: '<h3>';
}

#left h3::after {
    content: '</h3>';
}

#left h3 {
    font-size: 4vw;
}

#left h4::before {
    content: '<h4>';
}

#left h4::after {
    content: '</h4>';
}

#left h4 {
    font-size: 3vw;
}

#left h5::before {
    content: '<h5>';
}

#left h5::after {
    content: '</h5>';
}

#left h5 {
    font-size: 2vw;
}

#left h6::before {
    content: '<h6>';
}

#left h6::after {
    content: '</h6>';
}

#left h6 {
    font-size: 1vw;
}

#left span {
    display: block;
    font-size: 2vw;
}

#left b,
#left i,
#left u,
#left s,
#left q,
#left samp,
#left small,
#left strong,
#left sub,
#left sup {
    margin-right: 1vw;
}

#left b::before {
    content: '<b>';
}

#left b::after {
    content: '</b>';
}

#left i::before {
    content: '<i>';
}

#left i::after {
    content: '</i>';
}

#left u::before {
    content: '<u>';
}

#left u::after {
    content: '</u>';
}

#left s::before {
    content: '<s>';
}

#left s::after {
    content: '</s>';
}

#left q::before {
    content: '<q>';
}

#left q::after {
    content: '</q>';
}

#left samp::before {
    content: '<samp>';
}

#left samp::after {
    content: '</samp>';
}

#left small::before {
    content: '<small>';
}

#left small::after {
    content: '</small>';
}

#left strong::before {
    content: '<strong>';
}

#left strong::after {
    content: '</strong>';
}

#left sub::before {
    content: '<sub>';
}

#left sub::after {
    content: '</sub>';
}

#left sup::before {
    content: '<sup>';
}

#left sup::after {
    content: '</sup>';
}