.text {
  font-size: 1.5rem;
  line-height:200%;
  padding:0 1rem;
  margin: 1rem 0.5rem;
}
.half {
  font-size: 1rem;
  line-height:200%;
  padding:1.25% 0;
  width:50%;
  float:left;
  margin: 1rem 0 0;
}
.text .title {
  margin: 0;
  padding: 0;
  font-size: 5.5rem;
}
.text .title a {
  padding: 2.5rem 0 0;
}
.text a,
.half a {
  text-align:center;
  display:block;
  margin:0.25rem 0;
}
.text a:hover,
.half a:hover {
  filter: invert(0.15);
}
.text a,
.text b,
.half a,
.half b {
  padding:0.25rem 1rem;
  border-radius:1.5rem;
  text-decoration:none;
}
.text b,
.half b {
  padding:0.25rem 1rem;
  border-radius:1.5rem;
}
.text i,
.half i {
  padding:0.5rem;
}
.text u,
.half u {
  text-decoration:0;
  font-size:95%;
  padding:0 0.2rem 0.2rem;
  border-bottom:solid 0.2rem;
}


.photos {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  scroll-snap-type: x;
}
.photos>* {
  display: inline-block;
  white-space: normal;
}
.photos li{
  list-style: none;
  padding: 0;
  margin: 0 0.25rem;
  height: 30rem;
  min-width: 20rem;
}
.photos img {height: 100%;}

@media screen and (max-width: 700px){
.text {
  margin: 2.5vw 1vw;
  font-size: 4.5vw;
}
.half {
  width:95%;
  font-size: 2.5vw;
}
.text .title {
  font-size:15vw;
}
.text .title a {
  padding: 7.5vw 0 0;
}
.photos li{
  margin: 0 0.5vw;
  height: 55vw;
  min-width: 40vw;
}
}