html, body {padding:0; margin:0;}
#mobile {display:none;}
#canbe .inside h1,
#mobile .inside h1 {
  width:50vw;
  position:absolute;
  top:47.5%; left:50%;
  padding:0; margin:0;
  transform: translate(-50%, -50%);
  font-size: 10vw; font-weight:500;
  font-family: "SF Compact", sans-serif; 
}
#canbe .inside p,
#mobile .inside p {
  font-size:1.5vw;
  width:100%;
  text-align:center;
  position:absolute;
  top:85%; left:50%;
  transform: translate(-50%, -50%);
  font-family: "SF Compact", sans-serif; 
}
#canbe .inside b,
#mobile .inside b {
  border:0.25vw solid;
  background:#fff;
  padding:0.5vw 2.5vw;
  border-radius:2rem;
  font-weight:500;
}

@media screen and (max-width: 900px){
#canbe {display:none;}
#mobile {
  display:block;
  position:fixed;
  top:0; left:0;
  width:100%;
  height:100vh;
}
}
