#click, .demo {display:block;}
#click a {display:inline-block;}

#click, .demo {
padding:10%;
margin:auto;
width:75%;
}
.demo {
height:5rem;
}
#click a {
padding:1% 2.5%;
margin:2.5%;
}

.demo {
text-align:center;
vertical-align: middle;
}
