.circle {
  list-style-type:hiragana-iroha;
  display:-webkit-flex;
  display:flex;
  justify-content: space-evenly;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-align-items:center;
  align-items:center;
}
.circle li {
  font-size:5.5vw;
  text-align:center;
  margin:1rem;
  width:55%;
  position:relative;
  transition:.5s all;
}
.circle li span {
  display:inline-block;
  width:75%;
  height:75%;
  padding:0.25rem;
  border:solid 1px;
}
.circle li b {
  font-weight:200;
  display:inline-block;
}
.circle li:hover {
  font-size:7.5vw;
  width:45%;
}
