#jp {
    position: relative;
    z-index: 1;
    width: 95%;
    max-width: 550px;
    float: right;
    height: 85vh;
    font-size: 1.5rem;
    line-height: 150%;
    padding: 7.5% 2.5% 5%;
    margin: auto;
    display: flex;
    flex-direction: column;
    writing-mode: vertical-rl;
    font-family: "SimSong", "MS Mincho", selif;
  }
  #jp ruby {
    border-right: 2px solid #FF5733;
    line-height: 250%;
    position: relative;
  }
  #jp [data-ruby]::before {
    content: attr(data-ruby);
    position: absolute;
    top: 0;
    left: 1.75rem;
    margin: auto;
    height: 35vh;
    color: #FF5733;
    font-size: 0.5em;
    line-height: 100%;
  }
  
  #en {
    position: relative;
    z-index: 1;
    width: 95%;
    max-width: 550px;
    float: left;
    font-size: 1rem;
    line-height: 150%;
    padding: 5% 2.5%;
    margin: auto;
    font-family: "SimSong", "MS Mincho", selif;
  }
  #en ruby {
    border-bottom: 2px solid #FF5733;
    line-height: 300%;
    position: relative;
  }
  #en [data-ruby]::before {
    content: attr(data-ruby);
    position: absolute;
    top: 1.25rem;
    left: 0;
    margin: auto;
    width: 40vw;
    color: #FF5733;
    font-size: 0.5em;
    line-height: 100%;
  }
  
  @media print {
    #jp {
      height: 95vw;
    }
    #en {
      height: 20vw;
    }
  }
  