form select,
form label {
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
}

.radio {
  margin: 0.25rem 0;
  display: flex;
  flex-wrap: wrap;
}

.radio label {
  display: block;
}

.radio input[type="radio"] {
  display: none;
}

.radio label {
  margin: 0 0.125rem;
  padding: 0.25rem 0.75rem;
}


/* Light theme */
.light details,
.light button,
.light dialog,
.light .select select,
.light .radio label {
  background: #fff;
  color: #000;
}

.light .folder summary::before,
.light .folder summary::after,
.light .radio input[type="radio"]:checked+label,
.light dialog::backdrop {
  background: #feeea0;
}

/* Dark theme */
.dark details,
.dark button,
.dark dialog,
.dark .select select,
.dark .radio label {
  background: #000;
  color: #fff;
}

.dark .folder summary::before,
.dark .folder summary::after,
.dark .radio input[type="radio"]:checked+label,
.dark dialog::backdrop {
  background: #66ccff;
}


/* OS Default */
@media (prefers-color-scheme: light) {
  details,
  button,
  dialog,
  .select select,
  .radio label {
    background: #fff;
    color: #000;
  }

  .folder summary::before,
  .folder summary::after,
  .radio input[type="radio"]:checked+label,
  dialog::backdrop {
    background: #feeea0;
  }
}

@media (prefers-color-scheme: dark) {
  details,
  button,
  dialog,
  .select select,
  .radio label {
    background: #000;
    color: #fff;
  }

  .folder summary::before,
  .folder summary::after,
  .radio input[type="radio"]:checked+label,
  dialog::backdrop {
    background: #66ccff;
  }
}
