body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "ipag";
  src: url("https://creative-community.space/ver/ipag.ttf");
}

@font-face {
  font-family: "San Francisco";
  src: url("https://creative-community.space/coding/readme/san-francisco/SF-Pro.ttf");
}

@font-face {
  font-family: "NewYork";
  src: url("https://creative-community.space/coding/cover/NewYork.otf");
}

h1 {
  font-family: "NewYork", serif;
}

.readme {
  font-family: "San Francisco", "YuGothic", "Yu Gothic Medium", "Yu Gothic", sans-serif;
  margin: 1rem;
}

h1,
form p {
  margin: 0.5rem 0.25rem;
}

form {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

form select,
form input,
form button {
  font-family: inherit;
  border: 0.055rem solid;
  outline: none;
}

form select {
  border-radius: 1rem;
  font-size: 95%;
  padding: 0.25rem 0.5rem;
}

form input,
form button {
  display: inline-block;
  border-radius: 0.5rem;
  font-size: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#contents,
#links {
  font-family: "ipag", monospace;
  margin: 0.5rem 1rem;
}
