#contents {
  height: 100vw;
  max-height: 100vw;
  }
#credit {
    height: 33vw;
    margin:auto;
    display: table-cell;
    vertical-align: bottom;
    text-align: justify;
    text-align: justify-all;
  }
  #contents h1 i {
    position:absolute;
    top:1.25vw;
    right:2.5vw;
    display: inline-block;
    font-size: 4.5vw;
    font-family: "Great Vibes", cursive;
    font-weight: 555;
    transform: scale(1, 4.5);
  }
  .print_only {display: none;}
    
  @media print {
  .print_only {display: inline-block;}
  .no_print {display: none;}
  }
  