#demo {
padding:2.5%;
}
#demo div,
#demo span {
padding:2.5%;
}
#demo div {
border: thick double;
border-radius: 25% 10%;
}
#demo span {
disolay:inline-block;
border: 2px dashed;
border-radius: 50% 20% / 10% 40%;
}

#demo div {
color:#000;
background: radial-gradient(#e66465, #9198e5);
}
#demo span {
color:#000;
background: radial-gradient(#9198e5, #e66465);
}

#demo .pc {
mix-blend-mode: color-dodge;
}
#demo .mobile {
mix-blend-mode: multiply;
}
#demo .both {
mix-blend-mode: luminosity;
}

#demo span:hover {
filter: invert(1);
}
#demo .pc {
filter: invert(0);
}
#demo .mobile {
filter: invert(0.5);
}
#demo .both {
filter: invert(1);
}
