header {
    font-family: 'Times New Roman', Times, serif;
    padding: 7.5vh 5% 2.5vh;
    border-bottom: 2px dotted black;
    width: 90%;
    z-index: 100;
    top: 0;
}

header a,
footer a {
    text-decoration: none;
}

header a:hover,
footer a:hover {
    color: blue;
    text-decoration: wavy underline;
}

header a:visited,
footer a:visited {
    color: yellow;
    text-decoration: dashed underline overline;
}

nav ol {
    list-style-type: none;
    padding-left: 0;
}

nav li {
    display: inline-block;
}

nav a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

main {
    height: 100vh;
    color: #000;
    display: grid;
    background-color: #ccc;
    place-items: center;
}

footer {
    text-align: center;
}

footer a {
    display: block;
    padding: 5vh 2.5%;
    background-color: #000;
}

address {
    font-size: 2rem;
    font-family: fantasy;
}

address a[href^="mailto"]::before {
    content: "📧 ";
}