header {
  font-family:'Times New Roman', Times, serif;
  padding: 10vh 5% 2.5vh;
  border-bottom: 1px dotted black;
}
header a,
footer a {
  color:#000;
  text-decoration:none;
}
header a:hover,
footer a:hover {
  color:blue;
  text-decoration:wavy underline;
}
header a:visited,
footer a:visited {
  color:yellow;
  text-decoration:dashed underline overline;
}

nav {
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 5vh 0 2.5vh;
}
nav ol {
  list-style-type: none;
  padding-left: 0;
}
nav li {
  display: inline-block;
}
nav a::after {
  display: inline-block;
  color: #000;
  content: '>';
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}

main {
  padding: relative;
  height: 100vh;
  color: #fff;
}

section {
  position: relative;
  margin: 55vh 2.5% 0;
  width: 95%;
  height: 55vh;
  display: grid;
  place-items: center;
  border: double #fff;
  font-family: monospace;
  filter: invert(50%);
}

main a,
section a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
}
main a:hover,
section a:hover {
  filter: blur(2rem);
}

footer {
  padding: 5vh 2.5%;
  text-align: center;
  border:#000 dotted;
}

address {
  font-size: 2rem;
  font-family: fantasy;
}
address a[href^="mailto"]::before {
    content: "📧 ";
}