p {font-family: "Arial", serif;}
h1, h2, b, s, strong {font-family: "Open Sans", "Fira Sans", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", "Liberation Sans", "Nimbus Sans L", sans-serif;}
h3, h4, i, samp, sub {font-family: "Brush Script MT", "Brush Script Std", "Lucida Calligraphy", "Lucida Handwriting", "Apple Chancery", cursive;}
h5, h6, q, small, sup {font-family: Papyrus, Herculanum, Party LET, Curlz MT, Harrington, fantasy;}
u {font-family: monospace;}

h1, h2, b, s, strong {font-style: normal;}
h3, h4, i, samp, sub {font-style: italic;}
h5, h6, q, small, sup {font-style: oblique;}
p, u {font-style: oblique -45deg;}

h1, h2, strong {font-size:2rem; font-weight:500;}
h3, h4, samp, sub {font-size:2vw; font-weight:100;}
h5, h6, q, small, sup {font-size:125%; font-weight:900;}

h1, h2, strong {font-stretch:50%; font-variant: normal;}
h3, h4, samp, sub {font-stretch:75%; font-variant: small-caps common-ligatures tabular-nums;}
h5, h6, q, small, sup {font-stretch:125%; font-variant: all-small-caps no-common-ligatures oldstyle-nums;}

#demo {padding:10% 10% 0;}
